
{{!-- BLOCK STATEMENT FOR ITERATING THROUGH ARRAY OF VALUES IN HBS --}}
{{# each products}}
    <div class="row">
        {{!-- iterate through every element in products --}}
        {{# each this}} 
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                <img class="img-responsive" src="{{ this.imagePath }}" alt="...">
                <div class="caption">
                    <h3>{{ this.title }}</h3>
                    <p class = "description">{{ this.description }}</p>

                    <div class = "clearfix">
                        <div class = "price pull-left">${{ this.price }}</div>
                        <a href="#" class="btn btn-success pull-right" role="button">Add to Cart</a> 
                    </div>
                </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}
{{!-- BLOCK STATEMENT FOR ITERATING THROUGH ARRAY OF VALUES IN HBS --}}




{{!-- 

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://target.scene7.com/is/image/Target/GUEST_9890f880-20fc-4f94-b325-c1c6875327ad?wid=488&hei=488&fmt=pjpeg" alt="...">
      <div class="caption">
        <h3>Hot Cheetos</h3>
        <p class = "description">Product Description Here</p>

        <div class = "clearfix">
            <div class = "price pull-left">$3</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>


    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://target.scene7.com/is/image/Target/GUEST_9890f880-20fc-4f94-b325-c1c6875327ad?wid=488&hei=488&fmt=pjpeg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class = "description">Product Description Here</p>

        <div class = "clearfix">
            <div class = "price pull-left">$3</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>


    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://target.scene7.com/is/image/Target/GUEST_9890f880-20fc-4f94-b325-c1c6875327ad?wid=488&hei=488&fmt=pjpeg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class = "description">Product Description Here</p>

        <div class = "clearfix">
            <div class = "price pull-left">$3</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://target.scene7.com/is/image/Target/GUEST_9890f880-20fc-4f94-b325-c1c6875327ad?wid=488&hei=488&fmt=pjpeg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class = "description">Product Description Here</p>

        <div class = "clearfix">
            <div class = "price pull-left">$3</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>


    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://target.scene7.com/is/image/Target/GUEST_9890f880-20fc-4f94-b325-c1c6875327ad?wid=488&hei=488&fmt=pjpeg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class = "description">Product Description Here</p>

        <div class = "clearfix">
            <div class = "price pull-left">$3</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>


    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://target.scene7.com/is/image/Target/GUEST_9890f880-20fc-4f94-b325-c1c6875327ad?wid=488&hei=488&fmt=pjpeg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class = "description">Product Description Here</p>

        <div class = "clearfix">
            <div class = "price pull-left">$3</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://target.scene7.com/is/image/Target/GUEST_9890f880-20fc-4f94-b325-c1c6875327ad?wid=488&hei=488&fmt=pjpeg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class = "description">Product Description Here</p>

        <div class = "clearfix">
            <div class = "price pull-left">$3</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>


    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://target.scene7.com/is/image/Target/GUEST_9890f880-20fc-4f94-b325-c1c6875327ad?wid=488&hei=488&fmt=pjpeg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class = "description">Product Description Here</p>

        <div class = "clearfix">
            <div class = "price pull-left">$3</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>


    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://target.scene7.com/is/image/Target/GUEST_9890f880-20fc-4f94-b325-c1c6875327ad?wid=488&hei=488&fmt=pjpeg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class = "description">Product Description Here</p>

        <div class = "clearfix">
            <div class = "price pull-left">$3</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a> 
        </div>
      </div>
    </div>
  </div>
</div> --}}